@define-color bitops-orange #ffa133;

@define-color base-bg #000;
@define-color base-fg #eef;
@define-color button-bg #222;
@define-color button-fg #bbc;
@define-color active-button-bg #bbc;
@define-color active-button-fg #222;

window#waybar {
  background-color: @base-bg;
  color: @base-fg;
}

button {
  background-color: @button-bg;
  color: @button-fg;
  border-radius: 2px;
  padding: 0;
}

#workspaces {
  background-color: @base-bg;
  border-radius: 0px;
  padding: 1px;
}

#workspaces button {
  margin: 0px 1px 0px 0px;
  padding: 1px 6px;
}

#workspaces button.active {
  background-color: @active-button-bg;
  color: @active-button-fg;
}

#workspaces button.visible {
  color: @active-button-fg;
}

#workspaces button.focused {
  color: @active-button-fg;
}

#battery,
#cpu,
#bluetooth,
#pulseaudio,
#network {
  border-radius: 2px;
  background-color: @button-bg;
  color: @button-fg;
  padding: 0px 12px;
  font-size: 14px;
  margin: 0px;
}

#clock {
  color: @button-fg;
}

@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;
