window#waybar {
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: #111; */
  /* background-color: transparent; */
  color: #ffa133;
}

#workspaces {
  background-color: #222;
  margin: 2px;
  padding: 0px 8px;
  border-radius: 8px;
}

#workspaces button {
  color: #80511a;
}

#workspaces button.active {
  color: #ffa133;
}

#workspaces button.visible {
  color: #ffa133;
}

#workspaces button.focused {
  color: #ffa133;
}

button {
  padding: 0;
}

#battery,
#cpu,
#bluetooth,
#pulseaudio,
#network {
  border-radius: 8px;
  background-color: #222;
  padding: 0px 16px;
  font-size: 14px;
  margin: 2px;
}

#clock {
  border-radius: 8px;
  padding: 4px 8px;
  margin: 2px;
  background-color: #222;
}

@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;
